<div class="corousel">
    <div class="picsum-img-wrapper">
      <img src="../assets/images/5.jpg" alt="Random first slide" />
      <div class="banner-title d-none d-lg-block">
        <h1 class="h1">Eco Quality</h1>
        <span>Tu negocio, tus reglas, con EcoQuality.</span>
        <div class="w-100 d-inline-flex justify-content-start">
          <button class="btn btn-primary mt-5 mx-1" (click)="navigateToApp()">
            Prueba la versión beta
          </button>
          <button class="btn btn-primary mt-5 mx-1 rounded">
            <fa-icon [icon]="icons.playVideo"></fa-icon>
          </button>
        </div>
      </div>
    </div>
</div>
