<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    font-size: 22px;
    align-items: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 30px auto 32px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 5px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    max-width: 22rem;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  .banner-title-mobile {
    width: 100%;
    background: linear-gradient(45deg, #0000008c, #646464);
    color: white;
    padding: 0 15px;
  }

  .banner-title span {
    font-size: 20px;
    margin-left: 0.2rem;
  }

  a,
  a:visited,
  a:hover {
    color: var(--bs-primary);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar shadow-lg" role="banner">
  <img width="50" alt="Eco Quality" src="../assets/logo/solo_logo-removebg.png" />
  <a [style.color]="'black'" class="nav-link" [routerLink]="'/'">
    <span>Eco Quality</span>
  </a>
  <div class="spacer"></div>
  <button class="mx-3 btn btn-primary  d-none d-lg-block" aria-label="twitter" title="beta" (click)="navigateToApp()">
    Prueba la versión beta
  </button>
  <a [routerLink]="'callus'" class="mx-3 d-none d-lg-block" aria-label="twitter" rel="noopener" title="call-us">
    <span>
      Contactanos
    </span>
  </a>
  <a class="mx-3" aria-label="twitter" target="_blank" rel="noopener" title="Twitter">
    <fa-icon [icon]="icons.twitter"></fa-icon>
  </a>
  <a class="mx-3" aria-label="YouTube" target="_blank" rel="noopener" title="YouTube">
    <fa-icon [icon]="icons.youtube"></fa-icon>
  </a>
</div>

<router-outlet></router-outlet>

<div class="banner-title-mobile d-inline-flex d-lg-none flex-column align-items-center">
  <h1 class="h1">Eco Quality</h1>
  <span>Tu negocio, tus reglas, con EcoQuality.</span>
  <div class="w-100 d-inline-flex justify-content-center my-2">
    <button class="btn btn-primary mx-1" (click)="navigateToApp()">
      Prueba la versión beta
    </button>
    <button class="btn btn-primary mx-1 rounded">
      <fa-icon [icon]="icons.playVideo"></fa-icon>
    </button>
  </div>
</div>

<div class="content" role="main">


  <!-- Resources -->
  <!-- Contenido Principal con Bootstrap Container -->
  <div class="container mt-5">
    <h1 class="display-4 text-center">EcoQuality: Tu Solución Empresarial Personalizada</h1>
    <p class="lead text-center">Diseña tu propio sistema de gestión empresarial según tus necesidades.</p>

    <!-- Beneficios Clave con Bootstrap Cards -->
    <div class="row mt-5 d-inline-flex flex-wrap justify-content-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Personalización Total</h5>
          <p class="card-text">Diseña tu propio sistema de gestión empresarial según tus necesidades. No te preocupes
            por adaptarte a un software, haz que el software se adapte a ti.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Eficiencia Mejorada</h5>
          <p class="card-text">Al tener un sistema que se adapta a tus procesos, puedes trabajar de manera más
            eficiente y centrarte en lo que realmente importa: hacer crecer tu negocio.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ahorro de Tiempo y Dinero</h5>
          <p class="card-text">Al eliminar características innecesarias y concentrarte en lo que necesitas, ahorras
            tiempo y dinero en la implementación y el mantenimiento del software.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Escalabilidad</h5>
          <p class="card-text">Crece a tu propio ritmo. EcoQuality se adapta a tu negocio en todas las etapas, desde
            el inicio hasta la expansión.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Soporte Profesional</h5>
          <p class="card-text">A pesar de la personalización, ofrecemos soporte técnico y actualizaciones para
            asegurarnos de que tu sistema esté siempre en funcionamiento.</p>
        </div>
      </div>
    </div>

   </div>

  <!-- Next Steps -->
  <h1 class="display-4 text-center">Aplicaciones</h1>
  

  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small mx-2" (click)="selection.value = 'component'" tabindex="0">
      <fa-icon [icon]="icons.checkList"></fa-icon>
      <span class="ms-2">Gestión de Inventarios</span>
    </button>

    <button class="card card-small mx-2" (click)="selection.value = 'material'" tabindex="0">
      <fa-icon [icon]="icons.humanRes"></fa-icon>
      <span class="ms-2">Nómina y Recursos Humanos</span>
    </button>

    <button class="card card-small mx-2" (click)="selection.value = 'pwa'" tabindex="0">
      <fa-icon [icon]="icons.budget"></fa-icon>
      <span class="ms-2">Gestión de Presupestos</span>
    </button>

    <button class="card card-small mx-2" (click)="selection.value = 'dependency'" tabindex="0">
      <fa-icon [icon]="icons.projects"></fa-icon>
      <span class="ms-2">Gestión de Proyectos</span>
    </button>

    <button class="card card-small mx-2" (click)="selection.value = 'test'" tabindex="0">
      <fa-icon [icon]="icons.sales"></fa-icon>
      <span class="ms-2">Puntos de venta</span>
    </button>
  </div>


  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Encuentranos en Twitter" href="https://www.meetup.com/find/?keywords=angular"
      target="_blank" rel="noopener">
      <fa-icon [icon]="icons.twitter"></fa-icon>
    </a>

    <a class="circle-link" title="Encuentranos en Youtube" href="https://discord.gg/angular" target="_blank"
      rel="noopener">
      <fa-icon [icon]="icons.youtube"></fa-icon>
    </a>
  </div>

  <!-- Footer -->
  <footer>
    Un producto de MSV Technology&nbsp;
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>

</div>